<!DOCTYPE html>
<html>
<head>
  <title>dashbord - robinsons stuff</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h2>ur wins</h2>
    <a href="/logout">logout here</a>

    {% if auctions %}
      <div class="auctions">
        {% for auction in auctions %}
          <div class="auction-card">
            <img src="{{ auction[2] }}" alt="{{ auction[0] }}">
            <h3>{{ auction[0] }}</h3>
            <p>{{ auction[1] }}</p>
            <p><b>date:</b> {{ auction[3] }}</p>
            <p><b>final £ bid:</b> £{{ auction[4] }}</p>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>nothing here yet... maybe u didn't win :(</p>
    {% endif %}
  </div>
</body>
</html>
